{% extends 'base.html' %}

{% block content %}
    <h1 id="classes-head">Classes</h1>
    <nav id="classes-changes">
        
          <li id="create"><a href="gym_classes/create_class">Create</a></li>
          <li id="add"><a href="/gym_classes/add">Add Member</a></li>
          <li id="remove"><a href="/gym_classes/remove">Remove Member</a></li>
        
      </nav>
      <br>
    <div id="classes">
        {% for gym_class in gym_classes %}
        <div id=class-display>
            <h4 id="class-head-name"> <a href="/gym_classes/{{gym_class.id}}"> {{gym_class.name}}</a></h4>
            <li>Date: {{gym_class.date}}</li> 
            <li>Time: {{gym_class.time}}</li> 
            <li>Max Capacity: {{gym_class.capacity}}</li>
            <li>Membership: {{gym_class.class_type}}</li>
            {% if class_capacity == gym_class.capacity %}
              <li>Full</li>
            {% else %}
              <li>Capacity: {{class_capacity}}</li>
            {% endif %}
        </div>
      
      {% endfor %}
        
        
        
    </div>
       
        
        
{% endblock %}