{% extends 'base.html' %}

{% block content %}
    <h1>Classes</h1>

    <table>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Time</th>
            <th>Capacity</th>
            <th>Full</th>
        </tr>
        {% for gym_class in gym_classes %}
        <tr>
            <td><a href="/gym_classes/{{gym_class.id}}"> </a>{{gym_class.name}}</td>
            <td>{{gym_class.date}}</td>
            <td>{{gym_class.time}}</td>
            <td>{{gym_class.capacity}}</td>
            <td></td>
            <td><a href="/gym_classes/{{gym_class.id}}">Edit</a></td>


        </tr>
            
        {% endfor %}
    </table>
{% endblock %}