{% extends 'base.html' %}

{% block content %}
    <h1>Classes</h1>
    <nav>
        <ul>
          <li><a href="gym_classes/create_class">Create Class</a></li>
          <li><p><a href="/gym_classes/remove">Remove Member from Class</a></p></li>
        </ul>
      </nav>
    <table>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Time</th>
            <th>Capacity</th>
            <th>Full</th>
        </tr>
        {% for gym_class in gym_classes %}
        <tr>
            <td><a href="/gym_classes/{{gym_class.id}}"> {{gym_class.name}}</a></td>
            <td>{{gym_class.date}}</td>
            <td>{{gym_class.time}}</td>
            <td>{{gym_class.capacity}}</td>
            <td></td>
            


        </tr>
            
        {% endfor %}
    </table>
{% endblock %}