{% extends 'base.html' %}

{% block content  %}


<table id="class_list">
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Time</th>
    <th>Capacity</th>
    <th>Class Type</th>
  </tr>
  <tr>
    <td>{{gym_class.name}}</td>
    <td>{{gym_class.date}}</td>
    <td>{{gym_class.time}}</td>
    <td>{{gym_class.capacity}}</td>
    <td>{{gym_class.class_type}}</td>
  </tr>
</table>




  
    <form action="/gym_classes/{{ gym_class.id }}/delete" method="POST">
      <input  id="btn-delete" type="submit" value="Delete" />
    </form>
  

  

  
      <form action="/gym_classes/{{ gym_class.id }}/edit">
        <input id="btn-edit" type="submit" value="Edit"/>
      </form>
  

  <h3><label>Class List:</label></h3>

  <table id="members_on_class">
    <tr><th>Name</th></tr>
    {% for member in members %}
    <tr>
      <td>{{member.name}}</td>
    </tr>
    {% endfor %}
  </table>
  
    

   
      
    
 


  
  



    
{% endblock  %}