{% extends 'base.html' %}

{% block content %}


    <h1 id="member-title">Members</h1>

    
    <nav id="new_member">
        <ul><li><a href="/members/new_member">Add New Member</a></li></ul>
        

    </nav>
    <table id="members">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Membership Type</th>
            
        </tr>
        {% for member in members %}
        <tr>
            <td><a href="/members/{{member.id}}"> {{member.name}}</a></td>
            <td>{{member.age}}</td>
            <td>{{member.membership_type}}</td>
        </tr>
            
        {% endfor %}
    </table>
{% endblock %}