{% extends 'base.html' %}

{% block content %}

<div id="member-full-div">

    

    
    <div id="new-member-btm-div">
        <h1 id="classes-head">Members</h1>
        <a id="new-member-btn" href="/members/new_member">Add New Member</a>
        

    </div>
    <table id="members">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Membership Type</th>
            
        </tr>
        {% for member in members %}
        <tr>
            <td><a id="new_member" href="/members/{{member.id}}"> {{member.name}}</a></td>
            <td>{{member.age}}</td>
            {% if member.membership_type == 15 %}
            <td>Standard</td>
            {% else %}
            <td>Premier</td>
            {% endif %}
        </tr>
            
        {% endfor %}
    </table>

</div>
   
{% endblock %}

