{% extends 'base.html' %}

{% block content %}

<form id="member-dets" action="/members" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="name" required autofocus>
    </div>
    <div>
        <label for="age">_Age:</label>
        <input type="number" id="age" name="age" placeholder="age" required>
    </div>
    <div>
        <label for="membership">Membership:</label>
        <select name="membership_id" id="membership_id">
            {% for membership_type in membership_types %}
            <option value="{{ membership_type.id }}">{{ membership_type.name }}</option>
            {% endfor %}
          </select>
    </div>
    <button type="submit">Add Member</button>

</form>
    
{% endblock  %}