{% extends 'base.html' %}

{% block content %}
   <div id="member-full-div">
    <div id="new-member-btm-div">
        <h1 id="classes-head2">Membership Types</h1>
        <a id="new-member-btn" href="/membership_types/new_membership">Add New Membership</a>
        

    </div>
    <table id="membership_types">
        <tr>
            <th>Name</th>
            <th>Membership ID</th>
            
        </tr>
        {% for membership_type in membership_types %}
        <tr>
            <td><a id="member-name" href="/membership_types/{{membership_type.id}}"> {{membership_type.name}}</a></td>
           
            <td>{{membership_type.id}}</td>
            


        </tr>
            
        {% endfor %}
    </table>
   </div>

    
{% endblock %}