body {
    background-color: white;
}

#main-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    background-color: #333;
}

#save-class button {
    
    background-color: #333;
    color: deepskyblue;
}



#new-class {
    padding-top:20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #333
  
}



#main-nav a {
    text-decoration: none;
    color: deepskyblue;
}

#welcome {
    text-align: center;
   /* padding-left: 200px;
   padding-top: 50px; */
}

h1 {
    text-align: center;
}

#classes-changes {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    

}



#classes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: row wrap;
    gap: 1rem;
    
}

#class-head-name {
    text-align: center;

}

#class-head-name a {
    text-decoration: none;
    color: deepskyblue;

}

#class-display {
   list-style: none;
    border: solid 2px deepskyblue;
    background-color: #333;
    height: 200px;
    width: 200px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    flex: 0 1 calc(20% - 20px);
    
    
}

#create {
    border: solid 1px deepskyblue;
    background-color: #333;
    padding-left: 4px;
    padding-right: 4px;
    }

#create  a {
    text-decoration: none;
    color: deepskyblue;
}

#add {
    border: solid 1px deepskyblue;
    background-color: #333;
    padding-left: 4px;
    padding-right: 4px;
    }

#add  a {
    text-decoration: none;
    color: deepskyblue;
}
#remove {
    border: solid 1px deepskyblue;
    background-color: #333;
    padding-left: 4px;
    padding-right: 4px;
    }

#remove  a {
    text-decoration: none;
    color: deepskyblue;
}