body {
    background-image: url("background.jpeg");
}

#header-title {
    border: solid 1px deepskyblue;
    background-color: #333;
    color: deepskyblue;
}

#members_on_class {
    padding-left: 600px;

}

#members-in-class-list {
    text-align: left;

}

#main-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    background-color: #333;
    border: solid 1px deepskyblue;
}

#save-class button {
    
    background-color: #333;
    color: deepskyblue;
}



#new-class {
    padding-top:20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: deepskyblue;
  
}
#name_label {
    border: solid 1px deepskyblue;
    background-color: #333;
}
#data_label {
    border: solid 1px deepskyblue;
    background-color: #333;
}
#time_label {
    border: solid 1px deepskyblue;
    background-color: #333;
}
#capacity_label {
    border: solid 1px deepskyblue;
    background-color: #333;
}

#class_type_label {
    border: solid 1px deepskyblue;
    background-color: #333;
}

#show-class {
    border: solid 1px deepskyblue;
    background-color: #333;
    color: deepskyblue;
}

#add_to_class_show {
    padding-top:20px;
    padding-left: 400px;
    padding-right: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: deepskyblue;
}

#add_to_class_show > button {
    background-color: #333;
    color: deepskyblue;
    height: 20px;
    width: 80px;
}

#remove_class_show {
    padding-top:20px;
    padding-left: 400px;
    padding-right: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: deepskyblue;
}

#remove_class_show button {
    background-color: #333;
    color: deepskyblue;
    height: 20px;
    width: 80px;
}

#class-details {
    display: flex;
    flex-direction: row;
}





#main-nav a {
    text-decoration: none;
    color: deepskyblue;
}

#welcome {
    text-align: center;
   /* padding-left: 200px;
   padding-top: 50px; */
}

h1 {
    text-align: center;
}

#classes-changes {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    

}



#classes-head {
    border: solid 1px deepskyblue;
    background-color: #333;
    color: deepskyblue;
    height: 30px;
    width: 100px;
    

   
   
}



#classes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: row wrap;
    gap: 1rem;
    
}

#class-head-name {
    text-align: center;

}

#class-head-name a {
    text-decoration: none;
    color: deepskyblue;
    border: solid 1px deepskyblue;
    padding-left: 6px;
    padding-right: 6px;

}

#class-display {
   list-style: none;
    border: solid 2px deepskyblue;
    background-color: #333;
    height: 200px;
    width: 200px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    flex: 0 1 calc(20% - 20px);
    
    
}

#show-class-dets {
    list-style: none;
    text-align: center;
    padding-left: 400px;
    
}

#show-class-buttons {
    display: flex;
    flex-direction: row;
    padding-left: 160px;
    

}

#delete-class-btn{
    padding-right: 20px;
    
}

#btn-delete{
   width: 60px;
    background-color: #333;
    color: deepskyblue;
}



#btn-edit {
    width: 60px;
    background-color: #333;
    color: deepskyblue;
}

#create {
    border: solid 1px deepskyblue;
    background-color: #333;
    padding-left: 4px;
    padding-right: 4px;
    }

#create  a {
    text-decoration: none;
    color: deepskyblue;
}

#add {
    border: solid 1px deepskyblue;
    background-color: #333;
    padding-left: 4px;
    padding-right: 4px;
    }

#add  a {
    text-decoration: none;
    color: deepskyblue;
}
#remove {
    border: solid 1px deepskyblue;
    background-color: #333;
    padding-left: 4px;
    padding-right: 4px;
    }

#remove  a {
    text-decoration: none;
    color: deepskyblue;
}