<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/logo.png') }}">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <title>Gym Booking System</title>
</head>

<body>
    <main>
        <header><img src="static/css/logo.png" alt="logo" /></header>
        <h1>FitFriends</h1>
        <nav id="main-nav">
            <ul>
                <li><a href="/">Home</a></li>
                
                
                
                <li><a href="/gym_classes">Class Schedule</a></li>
                <li><a href="/members">Members</a></li>
            </ul>
        </nav>
        <section>
            {% block content %}
                
            {% endblock %}
        </section>
   
    </main>
    
       
   
  
    <!-- <footer>FitFriends 2021</footer> -->
    
</body>


</html>